body{
	width: 1200px;
	margin: 0 auto;
}
.container{
	background: #ccc;
	width: 400px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	overflow: hidden;
}
.left{
	position: absolute;
	left: -50px;
	top: -50px;
	width: 100px;
	height: 100px;
	background: #fc0;
	border-radius: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.right{
	position: absolute;
	right: -50px;
	bottom: -50px;
	width: 100px;
	height: 100px;
	background: #fc0;
	border-radius: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}